<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white">WeatherApi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" [routerLink]="['seattle']">Seattle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['chicago']">Chicago</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['sanjose']">San Jose</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['burbank']">Burbank</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['dallas']">Dallas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['dc']">Washington D.C.</a>
      </li>
    </ul>
  </div>
</nav>
